// Import page-specific CSS files here.
@import "home";
@import "rent_show";
@import "show";
@import "my_toys";
@import "rent_demands";

.indexheader {
  position: relative;
  padding: 40px 0;
}

h1 {
  font-family: Pacifico;
  font-size: 40px;
  text-align: center;
  color: #1EA896;
}

.main {
  min-height: calc(100vh - 180px)
}

.notice {
  margin-bottom: 0;
}

