.container {
  height: 90vh;
}

.container-show {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  margin: 40px auto;
  padding: 30px;
  display: flex;
}

.container-left {
  margin: 15px 40px;
  .show-title {
    font-family: Pacifico;
    font-size: 50px;
    color: #43194d;
  }
  h2 {
    margin-top: 10px;
    font-size: 16px;
    font-family: Merriweather;
  }
}

.container-left-image {
  margin-top: 25px;
}
.container-right {
  display: flex;
  flex-direction: column;
  margin: 15px 40px;
  font-family: Merriweather;
    h2 {
      color: #1EA896;
    }
    p {
    font-size: 20px;
  }

}

.container-right-detail {
  padding: 15px;
}

.container-right-links {
  display: flex;
  flex-direction: column;
  padding: 15px;
    .delete-link {
      text-decoration: none;
      color: #9e3ab7;
    }
}

.btn-rent {
  margin-bottom: 10px;
  background-color: #1EA896;
  border: #1EA896;
}

.btn-rent:hover {
  background-color: #148879;
}
