.btn-rent {
  width: 700px;
  background: #9e3bb7;
  text-align: center;
  color: white;
  border-radius: 5px;
  padding: 4px;
  margin: 10px;
}

.flex {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  width: 100%;
  height: 425px;
}

.flex-demand {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  width: 100%;
  height: 485px;
}

.flex-item {
  flex: 0 0 auto;
}
