<div class="container-home full-height-container">

<!-- Title and catch phrase -->
    <div class="home-title">
    <h2>What do you want to play with ?</h2>
    </div>

<!-- Search form  -->
    <%= simple_form_for :search, url: root_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search[query]" id="search_query" />
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i>
        </button>
      </div>
    <% end %>

<!-- category cards -->
    <div class="categorymenu">
      <div class="col-sm-8 col-lg-2 categorycards">
        <a href=""><p>0 - 2 years old</p></a>
      </div>
      <div class="col-sm-8 col-lg-2 categorycards">
        <a href=""><p>3 - 4 years old</p></a>
      </div>
      <div class="col-sm-8 col-lg-2 categorycards">
        <a href=""><p>5 - 7 years old</p></a>
      </div>
      <div class="col-sm-8 col-lg-2 categorycards">
        <a href=""><p>8 - 12 years old</p></a>
      </div>
    </div>

</div>
