@media (max-width: 2500px) {
  .btn {
    border-radius: 10px;
    margin: 5px 5px 5px 15px;
    font-family: Pacifico;
    font-size: 20px;
    text-align: center;
  }
}

@media (max-width: 350px) {
  .btn {
    border-radius: 10px;
    margin: 5px;
    font-family: Pacifico;
    font-size: 10px;
    text-align: center;
  }
}

.btn-index-show {
  background-color: #43194D;
  border: #43194D;
}

.btn-index-show:hover {
  background-color: #7c308e;
  border: #7c308e;
}

.louer {
  width: 300px;
  margin-left: 0px;
  margin-top: 20px;
}
