.categorymenu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top: 15px;
}

.categorycards {
  width: 280px;
  height: 40px;
  margin: 5px;
  border-radius: 15px;
  text-align: center;
}

.categorycards p {
  font-family: Pacifico;
  color: #1EA896;
  font-size: 25px;
  line-height: 40px;
}

.categorycards a:hover {
  font-family: Pacifico;
  color: #1EA896;
  font-size: 20px;
  line-height: 40px;
  text-decoration: none;
}

.categorycards a:hover {
  text-decoration: none;
}
