.navbar-lewagon {
  z-index: 10;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  background: white;
  height: 100px;
  box-shadow: 5px 5px 5px #d3d3d39e;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 110px;
  border-radius: 50%;
}

.navbar-lewagon .nav-link {
  color: black;
  line-height: 100px;
  margin-right: 20px;
  font-size: 20px;
  font-family: Pacifico;
}

.navbar-lewagon h3 {
  font-family: Modak;
  font-size: 50px;
  color: #9e3ab7;
}

.dropdown-item {
  font-family: Pacifico;
  font-size: 20px;
  color: grey;
}

.dropdown-menu-right {
  border-radius: 15px;
  border: none;

}

.btn-profile {
  border-radius: 50%;
  font-size: 25px;
  padding: 5px 15px;
  background: #1fa995;
  border: 0px;
  color: white;
  font-family: Pacifico;
}

.btn-add-toy {
  background: white;
  margin-right: 10px;
  border: solid #21aa94 1px;
  border-radius: 15px;
  padding: 5px 10px;
  color: #21aa94;
  &:hover {
    background: #21aa94;
    text-decoration: none;
    color: white;
    opacity: 0.6;
  }
}

.toysup {
  position: static;
  margin-left: 5%;
}
