.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 100px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 110px;
  border-radius: 50%;
}

.navbar-lewagon .nav-link {
  color: black;
  line-height: 100px;
  margin-right: 20px;
  font-size: 20px;
  font-family: Pacifico;
}

.navbar-lewagon h3 {
  font-family: Modak;
  font-size: 50px;
  color: #9e3ab7;
}

.dropdown-item {
  font-family: Pacifico;
  font-size: 20px;
  color: grey;
}

.dropdown-menu-right {
  border-radius: 15px;
  border: none;

}
