.rent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 10px;
  min-height: 557px;
  h1{
    margin: 10px;
  }
  h2 {
  font-family: 'Pacifico';
  font-size: 30px;
  color: #50205d;
  margin: 30px;
  }
}

.rent-card-refused,
.rent-card-validated,
.rent-card,
.rent-recap-card {
  flex-direction: column;
  box-shadow: 5px 5px 5px lightgrey;
  display: flex;
  border-radius: 15px;
  margin: 10px;
  align-items: center;
}

.rent-recap-card,
.rent-card {
  background-color: white;
}

.rent-card-refused {
  background-color: #fcaaa7;
  opacity: 0.6;
  .btn-cancel-rent {
    opacity: 1;
  }
}

.rent-card-validated {
  background-color: #97d0a3b8;
  opacity: 0.5;
  .btn-cancel-rent {
    opacity: 1;
  }
}

.rent-recap-card {
  width: 700px;
  h4 {
    font-size: 24px;
    color: #50205d;
    font-family: Pacifico;
  }
  h5 {
    font-size: 22px;
    color: #9e3bb7;
    font-family: Karla;
  }
  p {
    padding-left: 20px;
    margin-bottom: 10px;
    font-size: 20px;
  }
}

.rent-card-refused,
.rent-card-validated,
.rent-card {
  width: 500px;
    h5 {
    font-size: 18px;
    color: #9e3bb7;
  }
  p {
    padding-left: 20px;
    margin-bottom: 10px;
  }
}

.rent-info,
.rent-recap-info {
  flex-grow: 1;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rent-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.btn-cancel-rent {
  width: 95%;
  padding: 4px;
  margin: 15px;
  height: 30px;
  background: #50205d;
  opacity: 60%;
  text-align: center;
  line-height: 20px;
  font-family: Pacifico;
  font-size: 15px;
  color: white;
  border-radius: 5px;
  &:hover {
    background: #9e3bb7;
    text-decoration: none;
    color: white;
  }
}

.rent-toy-name,
.rent-status {
  width: 100%;
  text-align: center;
  padding: 10px;
  p {
    color: #50205d;
    font-family: Pacifico;
    margin: 0px;
  }
}

.rent-status {
  p {
    font-size: 24px;
  }
}

.rent-toy-name {
  border-bottom: solid #d3d3d3 1px;
  border-radius: 15px 15px 0px 0px;
  p {
    font-size: 28px;
  }
}

.rent-cards-inline {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.rent-content {
  display: flex;
  width: 100%;
}

.btn-rent-another-toy,
.btn-all-rents {
  margin-bottom: 10px;
  background-color: #1EA896;
  border: #1EA896;
  width: 400px;
  height: 45px;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  color: white;
  border-radius: 5px;
  padding: 2px;
  margin-top: 30px;
  &:hover {
    background: #148879;
    text-decoration: none;
    color: white;
  }
}

.btn-rent-another-toy {
  position: fixed;
  left: 10px;
  width: 195px;
  z-index: 10;
}
